body {
    background: whitesmoke;
    font-family: Calibri, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

input {
    width: 50%;
    margin-bottom: 2%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 1%;
}

#navbar ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0 10%;
    overflow: hidden;
    background-color: #263238;
    height: 75px;
}
  
#navbar li {
    float: left;
}
  
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    width: 100px;
    padding: 25px 0;
    text-decoration: none;
}
  
#navbar li a:hover {
    background-color: #C0392B;
}

#navbar li:nth-child(n+4) {
    float: right;
}

#navbar li:nth-child(n+4) a:hover {
    background-color: transparent;
}

#navbar li:nth-child(n+4) a {
    padding: 0;
    margin-top: 7%;
}

.page {
    margin: 0 auto;
    padding: 10px 0;
    width: 75%;
    text-align: left;
}

.element a {
    display: block;
    border-bottom: 2px solid #bbb;
    padding: 20px;
}